<a href="https://colab.research.google.com/github/Yashwanth-1406/classicmodels-spark-analytics/blob/main/Pyspark_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [53]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Dataframe").getOrCreate()
print("Spark is ready",spark.version)

Spark is ready 3.5.1

In [54]:
from pyspark.sql import SparkSession
s1=SparkSession.builder.appName("yp").getOrCreate()
data=[("yp",21),("kp",22),("sp",23)]
df=s1.createDataFrame(data,["Name","age"])
df.show()
print(s1.version)
df.select("Name").show()

df.filter(df.age==22).show()

+----+---+
|Name|age|
+----+---+
|  yp| 21|
|  kp| 22|
|  sp| 23|
+----+---+

3.5.1
+----+
|Name|
+----+
|  yp|
|  kp|
|  sp|
+----+

+----+---+
|Name|age|
+----+---+
|  kp| 22|
+----+---+

In [55]:
from pyspark.sql.functions import col
df1=df.withColumn("Ageafter5years",col("age")+5)
df1.show()

+----+---+--------------+
|Name|age|Ageafter5years|
+----+---+--------------+
|  yp| 21|            26|
|  kp| 22|            27|
|  sp| 23|            28|
+----+---+--------------+

In [56]:
from pyspark.sql.types import *
from pyspark.sql.functions import lit
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

schema=StructType([
    StructField("Name",StringType(),True),
    StructField("Age",IntegerType(),True)
])

df=s1.createDataFrame([],schema)
df.show()
df2=df.withColumn("lname",lit(None))
df2.show()
df3=df2.withColumn("hi",when(col("age")>=18,"yes").otherwise("No"))
df3.show()

+----+---+
|Name|Age|
+----+---+
+----+---+

+----+---+-----+
|Name|Age|lname|
+----+---+-----+
+----+---+-----+

+----+---+-----+---+
|Name|Age|lname| hi|
+----+---+-----+---+
+----+---+-----+---+

In [57]:
from pyspark.sql import *
from pyspark.sql.functions import *
from pyspark.sql.types import *

s2=SparkSession.builder.appName("app1").getOrCreate()
d1=[("Alice",22),("Bob",22),("yash",23)]
df3=s2.createDataFrame(d1,["Name","Age"])
df3.show()
df4=df3.withColumnRenamed("Name","FullName")
df4.show()

+-----+---+
| Name|Age|
+-----+---+
|Alice| 22|
|  Bob| 22|
| yash| 23|
+-----+---+

+--------+---+
|FullName|Age|
+--------+---+
|   Alice| 22|
|     Bob| 22|
|    yash| 23|
+--------+---+

In [58]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("yp").getOrCreate()
data=[("yp",22,"it"),("sp",23,"it"),("kp",23,"it")]
df=spark.createDataFrame(data,["Name","age","dept"])
df.show()
df.show(2)
df1=df.collect()
for row in df1:
  print(row)

df.count()


df.first()

df.take(2)
df.head(1)
pdf=df.toPandas()
print(pdf)

df.write.csv("yp.csv",header=True)

+----+---+----+
|Name|age|dept|
+----+---+----+
|  yp| 22|  it|
|  sp| 23|  it|
|  kp| 23|  it|
+----+---+----+

+----+---+----+
|Name|age|dept|
+----+---+----+
|  yp| 22|  it|
|  sp| 23|  it|
+----+---+----+
only showing top 2 rows

Row(Name='yp', age=22, dept='it')
Row(Name='sp', age=23, dept='it')
Row(Name='kp', age=23, dept='it')
  Name  age dept
0   yp   22   it
1   sp   23   it
2   kp   23   it

AnalysisException: [PATH_ALREADY_EXISTS] Path file:/content/yp.csv already exists. Set mode as "overwrite" to overwrite the existing path.

In [ ]:
def even_or_odd(num):
  if num%2==0:
    print("even")
  else:
    print("odd")

even_or_odd(24)

In [ ]:
def add(a,b):
  c=a+b
  return a
add(2,2)

In [ ]:
def greet(name="yashu"):
  print(f"Hello {name}")

greet()
greet("sp")

In [ ]:
###Variable length arguements
# 1. positional and keywords arguements

def print_numbers(*args):
  for numbers in args:
    print(numbers)

print_numbers(1,2,3,4,5,6,7,8)

In [ ]:
def print_details(**kwargs):
  for key,value in kwargs.items():
    print(f"{key}:{value}")

In [ ]:
print_details(name="yashu",age="32",country="india")

In [ ]:
from pyspark.sql import SparkSession
spark=SparkSession.builder.appName("Transformations").getOrCreate()
data=[("YP",21),("Sp",22),("Kp",23)]
df=spark.createDataFrame(data,["Name","Age"])
df.show()
df2=df.select("Name")
df2.show()
df3=df.filter(df.Age==21)
df3.show()
df.count()
rows=df.collect()
for row in rows:
  print(row)

In [ ]:
def yashu(*args,**kwargs):
  for val in args:
    print(f"positional arguements {val}")

  for key,value in kwargs.items():
    print(f"keyword arguements {key}:{value}")

yashu(1,2,3,4,5,name="yp",dept="sp")

In [ ]:
##Lambda function

add=lambda a,b:a+b
print(add(2,3))

In [62]:
def addition(x,y,z):
  return x,y,z
addition(2,3,4)

(2, 3, 4)

In [61]:
add=lambda x,y,z:x+y+z
print(add(2,7,8))

17

In [60]:
numbers=[1,2,3,4,5]
list(map(lambda x:x**2,numbers))

[1, 4, 9, 16, 25]

In [59]:
num1=[1,2,3,4,5]
num2=[4,5,6,7,8]
add=list(map(lambda x,y:x+y,num1,num2))
print(add)

[5, 7, 9, 11, 13]

In [63]:
str_number=['1','2','3','4','5']
int_numbers=list(map(int,str_number))
print(int_numbers)

[1, 2, 3, 4, 5]

In [64]:
words=['apple','banana','cherry']
upper_word=list(map(str.upper,words))
print(upper_word)

['APPLE', 'BANANA', 'CHERRY']

In [72]:
from builtins import filter

def even(num):
    return num % 2 == 0

num = [1,2,3,4,5,6,7,8,9,10]
print(list(filter(even, num)))

[2, 4, 6, 8, 10]

In [81]:
from pyspark.sql.functions import explode

data = [("Alice", ["Python", "Java"]), ("Bob", ["C++", "Go"])]
df = spark.createDataFrame(data, ["Name", "Skills"])

df2 = df.withColumn("Skill", explode(df.Skills))
df2.show()
df1=df2.withColumnRenamed("Name","Fname")
df1.show()
df3=df1.dropDuplicates(["Skills"])
df3.show()
df4.repartition(2)
df4.show()

+-----+--------------+------+
| Name|        Skills| Skill|
+-----+--------------+------+
|Alice|[Python, Java]|Python|
|Alice|[Python, Java]|  Java|
|  Bob|     [C++, Go]|   C++|
|  Bob|     [C++, Go]|    Go|
+-----+--------------+------+

+-----+--------------+------+
|Fname|        Skills| Skill|
+-----+--------------+------+
|Alice|[Python, Java]|Python|
|Alice|[Python, Java]|  Java|
|  Bob|     [C++, Go]|   C++|
|  Bob|     [C++, Go]|    Go|
+-----+--------------+------+

+-----+--------------+------+
|Fname|        Skills| Skill|
+-----+--------------+------+
|  Bob|     [C++, Go]|   C++|
|Alice|[Python, Java]|Python|
+-----+--------------+------+

+--------+---+
|FullName|Age|
+--------+---+
|   Alice| 22|
|     Bob| 22|
|    yash| 23|
+--------+---+

In [82]:
data = [
    ("Alice", "HR", 2500),
    ("Bob", "IT", 3000),
    ("Cathy", "Finance", 4000),
    ("David", "IT", 3500),
    ("Eva", "HR", 2800)
]

df = spark.createDataFrame(data, ["Name", "Dept", "Salary"])
df.show()

+-----+-------+------+
| Name|   Dept|Salary|
+-----+-------+------+
|Alice|     HR|  2500|
|  Bob|     IT|  3000|
|Cathy|Finance|  4000|
|David|     IT|  3500|
|  Eva|     HR|  2800|
+-----+-------+------+

In [86]:
from pyspark.sql.functions import sum
df.groupBy("Dept").agg(sum("Salary").alias("TotalSalary")).show()
df.groupBy("Dept").agg(count("Salary").alias("TotalSalary")).show()

+-------+-----------+
|   Dept|TotalSalary|
+-------+-----------+
|     HR|       5300|
|     IT|       6500|
|Finance|       4000|
+-------+-----------+

+-------+-----------+
|   Dept|TotalSalary|
+-------+-----------+
|     HR|          2|
|     IT|          2|
|Finance|          1|
+-------+-----------+

In [92]:
from pyspark.sql.functions import avg, max
df.groupBy("Dept").agg(
    avg("Salary").alias("Emp_Salary"),
    max("Salary").alias("Emp_higher Sal")).show()

df.groupBy("Dept","Name").agg(sum("Salary").alias("Total")).show()

+-------+----------+--------------+
|   Dept|Emp_Salary|Emp_higher Sal|
+-------+----------+--------------+
|     HR|    2650.0|          2800|
|     IT|    3250.0|          3500|
|Finance|    4000.0|          4000|
+-------+----------+--------------+

+-------+-----+-----+
|   Dept| Name|Total|
+-------+-----+-----+
|     IT|  Bob| 3000|
|     HR|Alice| 2500|
|Finance|Cathy| 4000|
|     IT|David| 3500|
|     HR|  Eva| 2800|
+-------+-----+-----+

In [93]:
from pyspark.sql.window import Window
from pyspark.sql.functions import rank

windowSpec = Window.partitionBy("Dept").orderBy(df["Salary"].desc())

df.withColumn("Rank", rank().over(windowSpec)).show()

+-----+-------+------+----+
| Name|   Dept|Salary|Rank|
+-----+-------+------+----+
|Cathy|Finance|  4000|   1|
|  Eva|     HR|  2800|   1|
|Alice|     HR|  2500|   2|
|David|     IT|  3500|   1|
|  Bob|     IT|  3000|   2|
+-----+-------+------+----+